.coffees-container {
  position: absolute;
  left: calc(70% + 20%);
  transform: translate(-50%);
  border: 1px solid rgb(0, 0, 255);
  width: 20%;
  display: flex;
  flex-direction: column;
}

.coffees-header {
  border: 1px solid rgb(255, 234, 0);
  display: block;
  text-align: center;
}

.coffees-item-container {
  border: 1px solid rgb(0, 0, 0);
  padding-bottom: 10px;
}
